img.plain {
    background: transparent !important;
}

.reveal p {
    margin-bottom: 30px;
}

.left-image {
    float: left;
}

.reveal .background-caption {
    margin-top: 500px;
    padding: 30px;
    background: rgba(0,0,0,0.7);
}

.reveal .background-caption.caption-top {
    margin-top: 0;
    margin-bottom: 300px;
}

.lua-logo {
    border-radius: 20px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
}

.logos > div {
    width: 175px;
    flex-shrink: 0;
    font-size: smaller;
}

.logos.narrow > div {
    width: 160px;
}

.logos > div > img {
    width: 128px;
    height: 128px;
    border: none;
    box-shadow: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

/* Image credits, and other de-emphasized content */
.credit {
    color: #777;
    font-style: italic !important;
}

.reveal pre code {
    max-height: 600px;
}

.line {
    display: block;
    opacity: 0.3;
}
.line.focus {
    opacity: 1;
}

img#stopwatch {
    /* Dimensions of original image, scaled to match pil.jpg */
    height: 499px;
    width: 665px;
    /* Would be 130px, 306 px without scaling */
    -webkit-clip-path: inset(0 84px 0 199px);
    clip-path: inset(0 84px 0 199px);
    /* Clipped image still takes up space */
    margin-left: -199px;
    margin-right: -84px;
}
